@media all and (max-width: 600px){
    #reminder {
        display: none;
    }
    body {
        font-size: 10px;
        margin: 0;
        background: black;
        touch-action: none;
        over-flow: auto;     /* winphone8和android4+ */
        -webkit-overflow-scrolling: touch;    /* ios5+ */
        height : 667px;
        width : 375px;
    }

    .caseBlanche {
        height : 100px;
        width : 100px;
        position : relative;
    }
    #load {
        color : #fff;
        font-size: 15px;
        text-align : center;
        /* position : absolute; */
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100px;
    }
    #rond {
        height  : 100px;
        width : 100px;
        border : 1px solid #fff;
        border-radius : 50%;
        position :absolute;
        animation : rond 2s infinite;
        -webkit-animation : rond 2s infinite;
    }
    @keyframes rond {
        0% {transform : rotate(0deg);}
        100% {transform : rotate(360deg);}
    }
    @-webkit-keyframes rond {
        0% {-webkit-transform : rotate(0deg);}
        100% {-webkit-transform : rotate(360deg);}
    }
    #test {
        height : 10px;
        width : 10px;
        position : absolute;
        background-color : #fff;
        border-radius : 50%;
        top : 9px;
        left : 10px;
    }


    .viewport {
        display: none;
        width: 100%;
        /* height: 500%; */
        overflow: hidden;
        /* pointer-events: none; 这句话会导致整个页面上的点击事件失效，如需绑定点击事件，请注掉 */
        transform: translate3d(0px, 0px, 0px);
        backface-visibility: hidden;
        position: relative;
    }
    .box {
        position: relative;
    }
    .top {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .bg {
        /* 下面这行可消除底部白边 */
        vertical-align: bottom;
        width: 100%;
    }
    .first-letter {
        top: 4%;
        width: 100%;
    }
    .first-portrait {
        top: 5%;
        margin-left: 3rem;
        width: 70%;
    }
    .first-title {
        top: 60%;
        margin-left: 1rem;
        width: 90%;
    }
    .first-hint {
        top: 82%;
        margin-left: 1.8rem;
        width: 85%;
    }
    .first-arrows {
        top: 92%;
        left: 46%;
        width: 7%;
    }


    .second-text1 {
        top: 20%;
        left: 5%;
        width: 90%;
    }
    .second-text2 {
        top: 30.5%;
        left: 28%;
        width: 39%;
    }
    .second-text3 {
        top: 37.5%;
        left: 24%;
        width: 47%;
    }
    .second-text4 {
        top: 44.5%;
        left: 14%;
        width: 75%;
    }
    .second-text5 {
        top: 51%;
        left: 18%;
        width: 65%;
    }
    .second-text6 {
        top: 58%;
        left: 22%;
        width: 54%;
    }
    .second-text7 {
        top: 65%;
        left: 17%;
        width: 71%;
    }
    .second-image1 {
        top: 76%;
        left: 2.5%;
        width: 95%;
    }


    .third-text1 {
        top: 5%;
        left: 12.5%;
        width: 75%;
    }
    .third-text2 {
        top: 15.5%;
        width: 100%;
    }
    .third-text3 {
        top: 18%;
        left: 12.5%;
        width: 75%;
    }
    .third-image1 {
        top: 23.5%;
        left: 12.5%;
        height: 45%;
    }
    .third-image2 {
        top: 23.5%;
        left: 35%;
        height: 45%;
    }
    .third-image3 {
        top: 23.5%;
        left: 55%;
        height: 45%;
    }
    .third-image4 {
        top: 23.5%;
        left: 75%;
        height: 45%;
    }
    .third-text4 {
        top: 69%;
        left: 12.5%;
        width: 75%;
    }
    .third-image5 {
        top: 75%;
        left: 25%;
        width: 50%;
    }
    .third-text5 {
        top: 92%;
        left: 20%;
        width: 60%;
    }


    .fourth-text1 {
        top: 10%;
        width: 100%;
    }
    .fourth-text2 {
        top: 12.5%;
        left: 7.5%;
        width: 85%;
    }
    .fourth-text3 {
        top: 45.5%;
        left: 17.5%;
        width: 65%;
    }
    .fourth-text4 {
        top: 55%;
        width: 100%;
    }
    .fourth-text5 {
        top: 57.5%;
        left: 2%;
        width: 96%;
    }
    .fourth-text6 {
        top: 91.5%;
        left: 20%;
        width: 60%;
    }
    .fourth-image1 {
        top: 19%;
        left: 9%;
        height: 15%;
    }
    .fourth-image2 {
        top: 19%;
        left: 30%;
        height: 15%;
    }
    .fourth-image3 {
        top: 19%;
        left: 52%;
        height: 15%;
    }
    .fourth-image4 {
        top: 19%;
        left: 73%;
        height: 15%;
    }
    .fourth-image5 {
        top: 35%;
        left: 9%;
        height: 9%;
    }
    .fourth-image6 {
        top: 35%;
        left: 34%;
        height: 9%;
    }
    .fourth-image7 {
        top: 35%;
        left: 52%;
        height: 9%;
    }
    .fourth-image8 {
        top: 35%;
        left: 70%;
        height: 9%;
    }
    .fourth-image9 {
        top: 63%;
        left: 15%;
        height: 27%;
    }
    .fourth-image10 {
        top: 63%;
        left: 51%;
        height: 7.1%;
    }
    .fourth-image11 {
        top: 71%;
        left: 51%;
        height: 19%;
    }


    .fifth-text1 {
        top: 13.5%;
        left: 48%;
        width: 4%;
    }
    .fifth-text2 {
        top: 26%;
        left: 48%;
        width: 4%;
    }
    .fifth-text3 {
        top: 38%;
        left: 48%;
        width: 4%;
    }
    .fifth-text4 {
        top: 50%;
        left: 48%;
        width: 4%;
    }
    .fifth-text5 {
        top: 61.5%;
        left: 48%;
        width: 4%;
    }
    .fifth-text6 {
        top: 73%;
        left: 48%;
        width: 4%;
    }
    .fifth-text7 {
        top: 85%;
        left: 48%;
        width: 4%;
    }
    .fifth-text8 {
        top: 93%;
        left: 22.5%;
        width: 55%;
    }
    .fifth-image1 {
        top: 8%;
        left: 19%;
        width: 26%;
    }
    .fifth-image2 {
        top: 8%;
        left: 55%;
        width: 26%;
    }
    .fifth-image3 {
        top: 20.5%;
        left: 19%;
        width: 26%;
    }
    .fifth-image4 {
        top: 20.5%;
        left: 55%;
        width: 26%;
    }
    .fifth-image5 {
        top: 33%;
        left: 19%;
        width: 26%;
    }
    .fifth-image6 {
        top: 33%;
        left: 55%;
        width: 26%;
    }
    .fifth-image7 {
        top: 45.5%;
        left: 19%;
        width: 26%;
    }
    .fifth-image8 {
        top: 45.5%;
        left: 55%;
        width: 26%;
    }
    .fifth-image9 {
        top: 57%;
        left: 19%;
        width: 26%;
    }
    .fifth-image10 {
        top: 57%;
        left: 55%;
        width: 26%;
    }
    .fifth-image11 {
        top: 68.5%;
        left: 19%;
        width: 26%;
    }
    .fifth-image12 {
        top: 68.5%;
        left: 55%;
        width: 26%;
    }
    .fifth-image13 {
        top: 80%;
        left: 19%;
        width: 26%;
    }
    .fifth-image14 {
        top: 80%;
        left: 55%;
        width: 26%;
    }


}
@media all and (min-width: 601px){
    .box {
        display: none;
    }
}
