@keyframes gradualChange {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes letterAnimation {
    0% {
        opacity: 0;
        top: 14%;
    }
    100% {
        opacity: 1;
        top: 4%;
    }
}

@keyframes portraitAnimation {
    0% {
        opacity: 0;
        top: 15%;
    }
    100% {
        opacity: 1;
        top: 5%;
    }
}

@keyframes arrowsAnimation {
    0% {
        opacity: 0;
        top: 92%;
    }
    100% {
        opacity: 1;
        top: 88%;
    }
}
.first-letter-animation {
    animation: letterAnimation linear 0.5s;
    animation-fill-mode: forwards;
}
.first-portrait-animation {
    animation: portraitAnimation linear 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.first-title-animation {
    animation: gradualChange linear 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.first-hint-animation {
    animation: gradualChange linear 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.first-arrows-animation {
    animation: arrowsAnimation linear 0.8s infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}


.second-text1-animation {
    animation: gradualChange linear 1s;
    animation-fill-mode: forwards;
}
.second-text2-animation {
    animation: gradualChange linear 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.second-text3-animation {
    animation: gradualChange linear 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.second-text4-animation {
    animation: gradualChange linear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.second-text5-animation {
    animation: gradualChange linear 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
.second-text6-animation {
    animation: gradualChange linear 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.second-text7-animation {
    animation: gradualChange linear 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.second-image1-animation {
    animation: second-image1Animation linear 0.5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes second-image1Animation {
    0% {
        opacity: 0;
        top: 81%;
    }
    100% {
        opacity: 1;
        top: 76%;
    }
}


.third-text1-animation {
    animation: gradualChange linear 1s;
    animation-fill-mode: forwards;
}
.third-text2-animation {
    animation: gradualChange linear 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.third-text3-animation {
    animation: gradualChange linear 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.third-image1-animation {
    animation: gradualChange linear 1s;
    animation-delay: 1.7s;
    animation-fill-mode: forwards;
}
.third-image2-animation {
    animation: third-image1Animation linear 1s;
    animation-delay: 1.9s;
    animation-fill-mode: forwards;
}
.third-image3-animation {
    animation: third-image1Animation linear 1s;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
}
.third-image4-animation {
    animation: third-image1Animation linear 1s;
    animation-delay: 2.3s;
    animation-fill-mode: forwards;
}
.third-text4-animation {
    animation: gradualChange linear 1s;
    animation-delay: 3.3s;
    animation-fill-mode: forwards;
}
.third-image5-animation {
    animation: third-image5Animation linear 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.third-text5-animation {
    animation: gradualChange linear 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes third-image1Animation {
    0% {
        opacity: 0;
        top: 28.5%;
    }
    100% {
        opacity: 1;
        top: 23.5%;
    }
}
@keyframes third-image5Animation {
    0% {
        opacity: 0;
        top: 80%;
    }
    100% {
        opacity: 1;
        top: 75%;
    }
}


.fourth-text1-animation {
    animation: gradualChange linear 0.5s;
    animation-fill-mode: forwards;
}
.fourth-text2-animation {
    animation: gradualChange linear 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.fourth-text3-animation {
    animation: gradualChange linear 0.5s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
}
.fourth-text4-animation {
    animation: gradualChange linear 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.fourth-text5-animation {
    animation: gradualChange linear 0.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.fourth-text6-animation {
    animation: gradualChange linear 0.5s;
    animation-delay: 4.6s;
    animation-fill-mode: forwards;
}
.fourth-image1-animation {
    animation: fourth-image1Animation linear 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.fourth-image2-animation {
    animation: fourth-image1Animation linear 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
.fourth-image3-animation {
    animation: fourth-image1Animation linear 1s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}
.fourth-image4-animation {
    animation: fourth-image1Animation linear 1s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}
.fourth-image5-animation {
    animation: fourth-image2Animation linear 1s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}
.fourth-image6-animation {
    animation: fourth-image2Animation linear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.fourth-image7-animation {
    animation: fourth-image2Animation linear 1s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}
.fourth-image8-animation {
    animation: fourth-image2Animation linear 1s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
}
.fourth-image9-animation {
    animation: fourth-image3Animation linear 1s;
    animation-delay: 3.7s;
    animation-fill-mode: forwards;
}
.fourth-image10-animation {
    animation: fourth-image3Animation linear 1s;
    animation-delay: 3.9s;
    animation-fill-mode: forwards;
}
.fourth-image11-animation {
    animation: fourth-image4Animation linear 1s;
    animation-delay: 4.1s;
    animation-fill-mode: forwards;
}
@keyframes fourth-image1Animation {
    0% {
        opacity: 0;
        top: 24%;
    }
    100% {
        opacity: 1;
        top: 19%;
    }
}
@keyframes fourth-image2Animation {
    0% {
        opacity: 0;
        top: 40%;
    }
    100% {
        opacity: 1;
        top: 35%;
    }
}
@keyframes fourth-image3Animation {
    0% {
        opacity: 0;
        top: 68%;
    }
    100% {
        opacity: 1;
        top: 63%;
    }
}
@keyframes fourth-image4Animation {
    0% {
        opacity: 0;
        top: 76%;
    }
    100% {
        opacity: 1;
        top: 71%;
    }
}




.fifth-text1-animation {
    animation: fifth-image1Animation linear 1s;
    animation-fill-mode: forwards;
}
.fifth-text2-animation {
    animation: fifth-image2Animation linear 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.fifth-text3-animation {
    animation: fifth-image3Animation linear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.fifth-text4-animation {
    animation: fifth-image4Animation linear 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.fifth-text5-animation {
    animation: fifth-image5Animation linear 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
.fifth-text6-animation {
    animation: fifth-image6Animation linear 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
.fifth-text7-animation {
    animation: fifth-image7Animation linear 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
.fifth-text8-animation {
    animation: gradualChange linear 0.5s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
.fifth-image1-animation {
    animation: fifth-image1Animation linear 1s;
    animation-fill-mode: forwards;
}
.fifth-image2-animation {
    animation: fifth-image1Animation linear 1s;
    animation-fill-mode: forwards;
}
.fifth-image3-animation {
    animation: fifth-image2Animation linear 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.fifth-image4-animation {
    animation: fifth-image2Animation linear 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.fifth-image5-animation {
    animation: fifth-image3Animation linear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.fifth-image6-animation {
    animation: fifth-image3Animation linear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.fifth-image7-animation {
    animation: fifth-image4Animation linear 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.fifth-image8-animation {
    animation: fifth-image4Animation linear 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.fifth-image9-animation {
    animation: fifth-image5Animation linear 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
.fifth-image10-animation {
    animation: fifth-image5Animation linear 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
.fifth-image11-animation {
    animation: fifth-image6Animation linear 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
.fifth-image12-animation {
    animation: fifth-image6Animation linear 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
.fifth-image13-animation {
    animation: fifth-image7Animation linear 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
.fifth-image14-animation {
    animation: fifth-image7Animation linear 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
@keyframes fifth-image1Animation {
    0% {
        opacity: 0;
        top: 13%;
    }
    100% {
        opacity: 1;
        top: 8%;
    }
}
@keyframes fifth-image2Animation {
    0% {
        opacity: 0;
        top: 25.5%;
    }
    100% {
        opacity: 1;
        top: 20.5%;
    }
}
@keyframes fifth-image3Animation {
    0% {
        opacity: 0;
        top: 38%;
    }
    100% {
        opacity: 1;
        top: 33%;
    }
}
@keyframes fifth-image4Animation {
    0% {
        opacity: 0;
        top: 50.5%;
    }
    100% {
        opacity: 1;
        top: 45.5%;
    }
}
@keyframes fifth-image5Animation {
    0% {
        opacity: 0;
        top: 62%;
    }
    100% {
        opacity: 1;
        top: 57%;
    }
}
@keyframes fifth-image6Animation {
    0% {
        opacity: 0;
        top: 73.5%;
    }
    100% {
        opacity: 1;
        top: 68.5%;
    }
}
@keyframes fifth-image7Animation {
    0% {
        opacity: 0;
        top: 85%;
    }
    100% {
        opacity: 1;
        top: 80%;
    }
}
